/* ---------- Index ---------- */

.index_joinRoomCodeInput {
    text-align: center;
}

.index_joinRoomCodeButton {
    text-align: center;
}

.index_nicknameInput {
    text-align: center;
}

.index_makeRoomCodeInput {
    text-align: center;
}

.index_countOfPlayersInput {
    text-align: center;
}

.index_errorBox {
    z-index: 10;
    background-color: #73eaff;
    width: 150px;
    height: 100px;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

    align-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.index_errorBoxButton {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 20px;
    width: 20px;
    background: #458c99;
    border: none;
}


.index_title {
    user-select: none;
}

.index_title,
.index_joinRoomCode,
.index_nickname,
.index_joinRoomButton,
.index_makeRoomCode,
.index_countOfPlayers,
.index_makeRoomButton,
.index_makeRandomRoom {
    text-align: center;
}

.index_joinRoomButton,
.index_makeRoomButton,
.index_makeRandomRoom {
    user-select: none;
}

/* ---------- Admin ---------- */

.admin_code {
    text-align: center;
}

.admin_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 5px;
    justify-items: center;
    align-content: center;
}

.admin_grid_item {
    margin: auto;
    width: 150px;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #999999;
}