/* ---------- Index ---------- */

.index_errorBox {
    z-index: 10;
    background-color: #73eaff;
    width: 150px;
    height: 100px;

    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translateX(-50%);

    align-content: center;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.index_errorBoxButton {
    position: absolute;
    top: 1%;
    right: 1%;
    height: 20px;
    width: 20px;
    background: #458c99;
    border: none;
}


/* ---------- Admin / Player ---------- */

.admin_roomSettings,
.admin_startGame {
    text-align: center;
}

.admin_grid,
.player_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.admin_grid_item,
.player_grid_item {
    width: 150px;
    height: 90px;
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_startGameButton {
    position: sticky;
    margin-top: 25px;
    bottom: 10vh;
    left: 50vw;
    transform: translateX(-50%);
}

.admin_gradeList {
    display: none;
}

.admin_gradeList,
.admin_setList {
    display: none;
}

.player_chooseImageGrid {
    display: none;
    grid-template-columns: repeat(5, 80px);
    gap: 25px 7px;
}

.player_chooseImageButton {
    background: url(./Icons/icon_0.png);
    background-size: 70px;
    height: 70px;
    width: 70px;
}


/* ---------- Spectator ---------- */

.spectator_grid {
    display: grid;
    grid-template-columns: 150px 150px;
    gap: 25px 7px;
    transform: translateX(25vw);
}

.spectator_grid_item {
    width: 150px;
    height: 90px;
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ---------- Battle_ChooseTasks ---------- */

.chooseTasks_cardOfTask {
    background-color: #458c99;
    width: 100px;
    height: 150px;
}

.chooseTasks_fullTask {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: #9fe8f5;
    width: 60%;
    height: 80%;
}

.chooseTasks_fullTask_p_letter,
.chooseTasks_fullTask_p_name {
    margin: 2px 0;
    padding: 0;
    line-height: 1.3;
}

.chooseTasks_fullTask_p_condition {
    overflow: auto;
}

/* ---------- Battle_DooTasks ---------- */